<h1>Détail du Job</h1>

{{ job | json }}
<ul class="pt-5" >
    <li> Id :  {{ job.id }}</li>
    <li> Title : {{ job.title}}</li>
    <li> Company : {{ job.company}} </li>
    <li> City :  {{ job.city}}</li>
    <li> Zip Code :  {{ job.zipcode}}</li>
    <li> Description :  {{ job.description}}</li>
    <li> Contract type : {{ job.contractType}}</li>
    <li> Start date :  {{ job.startDate}}</li>
</ul>

<button type="submit">Modifier</button>


<h4 [ngStyle]="{color: 'green'}"> Job :  -- [id]="jobs.id"</h4>

